.AllMacetacard{
    background-color: rgb(255, 255, 255);
    margin: 2% 15%;
    height: 70vh;
    box-shadow: 4px 4px 4px rgba(0,0,0,.2);
}

.container{
    width: 30vw;
    height: 70vh;
    overflow: hidden;
}

.imgContainer{
    width: inherit;
    height: inherit;
    background-position: center;
    background-size: cover;
    transition: .5s;
}

.imgContainer img{
    height: 70vh;
    width: 30vw;
    text-align: left;
    display: flex;
    justify-content: left;
}

.macetacardContainer img:hover{
    transform: scale(1.35);
}

.TextContainer {
    background-color: rgb(255, 255, 255);
    height: 60vh;
    width: 30vw;
    margin-top: -50%;
    margin-left: 50%;
    text-align: justify;
}

.macetacardName{
    font-size: 45px;
}

.macetacardPrice{
    font-size: 30px;
    font-weight: bolder;
    margin-top: -10%;
}

.descriptionMacetacard{
    font-size: 17px;
}

.macetacardCarrito{
    background-color: pink;
    border: none;
    font-size: 15px;
    padding: 2%;
    border-radius: 10px;
    margin-top: 15%;
    margin-left: 35%;
}