.AllProducts{
    height: 62vh;
    width: 20vw;
    padding: 1%;
    color: black;
}

.productContainer{
    background-color: white;
    height: 62vh;
    width: 20vw;
    padding: 1%;
    padding-top: 3%;
}

.productContainer img{
    width: 19vw;
    height: 45vh;
}

.productName{
    margin-top: 0%;
    font-size: 22px;
}

.productPrice{
    margin-top: -8%;
}

.productCarrito{
    background-color: pink;
    border: none;
    padding: 4%;
    border-radius: 20px;
    margin-top: -5%;
}